{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}
{% block title %}
	Recuperar Contrase&ntilde;a | Taguato
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></div>{% endblock %}
{% block content %}
<div id="content-main" class="inner-two-columns">
    <h3 class="italic-title">Ingrese su nombre de usuario y le enviaremos el nuevo passdword a su correo.</h3>
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
          <div class="inner-right-column" style=" margin-left:2%">
		        <div class="box save-box" >
		          	<div class="submit-row clearfix">
					  <button type="submit" class="btn btn-high btn-info" name="_save"> <i class="icon-check icon-white"></i> Enviar</button>
					</div>
		        </div>
		    </div>
       
	<div class="control-group form-row field-username ">
		<div class="control-label">
		<label >Nombre de Usuario</label>
	</div>
	<div class="controls">
		<input type="text" placeholder="Username" name="username" required="required"/>			
		</div>
    <br>
    
    </form>	
  
  </div>
</div>
	
{% endblock %}
