<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Recuperaci&oacute;n de Password</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td align="center" valign="top" bgcolor="#797979" style="background-color:#797979;"><br>
    <br>
    <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tbody><tr>
        <td colspan="2" align="left" valign="top" bgcolor="#2a2a2a" style="background-color:#2a2a2a; padding:10px; font-family:Georgia, 'Times New Roman', Times, serif; color:#43c1d7; font-size:60px;">&nbsp;&nbsp;TAGUATO</td>
        </tr>
      <tr>
        <td width="201" align="center" valign="top" style="padding:12px; background-color:#ffffff;" bgcolor="#ffffff;">
          <table width="100%" border="0" cellspacing="0" cellpadding="4" style="margin-bottom:20px;">
            <tbody><tr>
              <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#000000;"><b></b></td>
            </tr>
            <tr>
              <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#000000;">
  <br>
              <div style="color:#43c1d7; font-size:19px;"><b>Recuperaci&oacute;n de Password:</b><br>
              </div>
<br>
             <div style="color:#6e6e6e;"> Hola <b>username</b>!, le recordamos que una vez que acceda al sistema con este nuevo password debe cambiarlo.<br>
<br>
  <li><b>Password:</b></li>

</div>
 </td>
            </tr>
          </tbody></table>
          <table width="100%" border="0" cellspacing="0" cellpadding="4" style="margin-bottom:20px;">
            <tbody><tr>
              <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#000000;">
  <br><br>
  <!--<b>Visitenos en GitHub</b>-->
  
  </td>
            </tr>
            <tr>
              
          <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#000000;">
          
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td width="33%" align="left" valign="middle">
					  
				<!--<img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width="48" height="48">-->
				
				</td>
                  
                  <td width="33%" align="left" valign="middle">
 <!--<a href="https://github.com/JuanBer90/ProjectX">https://github.com/JuanBer90/ProjectX</a>  -->
  

</td> 
                </tr>
              </tbody></table></td>
            </tr>
          </tbody></table></td>
        <td align="left" valign="top" style="background-color:#e4e4e4; padding:10px;" bgcolor="#e4e4e4;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; color:#6e6e6e;">
            
            <div style="font-size:14px;">
</div>
               <div><br>
                 <img src="http://www.fotonat.org/data/media/2/taguato2_2.jpg" width="349" height="161" style="display:block;"></div>
               <div style="font-size:11px;"><br>
<table width="100%" border="0" cellspacing="0" cellpadding="4" style="margin-bottom:20px;">
          <tbody><tr>
            <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#000000;">
				<b>Contactos:</b></td>
          </tr>
          <tr>
            <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#000000;">
<li>Duarte, Juan:  <a>juanber2.0@gmail.com</a></li>
<li>Fernandez, Miguel:  <a>myguelfernandez@gmail.com</a></li>
<li>Florentin, Javier:  <a>javierflorentin90@gmail.com</a></li><br>
<br>

              
              
              </td>
          </tr>
        </tbody></table>
              <br>
               </div>
               
               </td>
          </tr>
        </tbody></table></td>
      </tr>
    </tbody></table>
    <br>
    <br></td>
  </tr>
</tbody></table>


</body></html>
